@import "mixin/mixin";
@import "breakpoint/breakpoint";

/* THEME-COLOR DEFINATION */

$primary-color: #3F89EA;
$accent-color: #8092FF;
/* EXTRA-COLOR DEFINATION */
$highlight-color: #DC8937;
$balance-color: #33A3CD;
$calm-color: #af6ab0;
$positive-color: #46B663;
$assertive-color: #F46F5E;
$dark-color: #87919F;
$shade-color: #e8eaed;
$divider-color: #CCD0D4;

/* BACKGROUND-COLOR DEFINATION */
$background: #c4cce5;
$dark-background: #182330;
$light-background: #b0b9de;

/* TEXT-COLOR DEFINATION */
$text-color: #4F5465;
$light-text-color: #727684;
$dark-text-color: #2D3A45;

/* FUNCTION-COLOR DEFINATION */
$success-color: #19CD63;
$warning-color: #FFA949;
$danger-color: #F3554F;
$info-color: #409FC8;

/* FONT-SIZE DEFINATION */
$xl-font-size: 30px;
$lg-font-size: 22px;
$md-font-size: 16px;
$sm-font-size: 14px;
$xs-font-size: 12px;

/* FONT-WEIGHT DEFINATION */
$xl-font-weight: 800;
$lg-font-weight: 700;
$md-font-weight: 600;
$sm-font-weight: 400;
$xs-font-weight: 300;

/* FONT-FAMILY DEFINATION */
$heading-font: 'Lora', serif;;
$title-font:'Libre Franklin', sans-serif;
$text-font: 'Lora', serif;

// section padding
$section-padding-top: 90px;
$section-padding-bottom: 90px;


.btn-info {
    color: #fff;
    background-color: #303994ba;
    border-color: #303994ba;
}

body {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
		@include breakpoint(sm) {
		  margin-left: 0;
		}
		@include breakpoint(md) {
	
		}
		@include breakpoint(lg) {
			// min-height: 100vh;
			// margin-left: -15rem;
			// -webkit-transition: margin .25s ease-out;
			// -moz-transition: margin .25s ease-out;
			// -o-transition: margin .25s ease-out;
			// transition: margin .25s ease-out;
		}
	
	  .list-group {
		// width: 15rem;
	  }	  
  }
  
#page-content-wrapper {
	// min-width: 100vw;
	img{
		width:100%;
	}
	// #menu-toggle{
	// 	background-color: transparent;
	// 	position: relative;
	// 	&:after{
	// 		display: inline-block;
	// 		content:"\F0236";
	// 		font-family: normal normal normal 24px/1 "Material Design Icons";
	// 		font-size: 20px;
	// 		color: green;
	// 		position: absolute;
	// 	}
	
	// }
	.btn-secondary{
		background:#6969a2;
	}
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

#page-content-wrapper {
	min-width: 0;
	width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: -15rem;
}

.border-bottom {
    border-bottom: 1px solid #c7cace!important;
    background: #fff !important;
}


.navbar-collapse{
	display: flex;
    flex-direction: column;
	@include breakpoint(sm){

	}
	@include breakpoint(md){
		
	}
	@include breakpoint(lg){
		
	}
}
.navbar-nav{
	.nav-item{
		position: relative;
	    // right: -361px;
		margin-top: 4px;
			@include breakpoint(sm){
			    // right: -361px;		
			}
			@include breakpoint(md){
				
			}
			@include breakpoint(lg){
				position: relative;
				right: 0;
				margin-top: 4px;
			}
		.nav-link{
				.ti{
					border: 1px solid #a2a2cc;
					padding: 7px;
					border-radius: 30px;
					background: #bcbcca38;
					position: relative;
					margin-right: 10px;
				}
			
				.notification{
					background-color: #e80b42;
					position: absolute;
					border-radius: 26px;
					padding: 4px;
					color: #fff;
					width: 19px;
					top: -7px;
					right:2px;
					line-height: 10px;
					font-size: 10px;
					@include breakpoint(sm){
				
					}
					@include breakpoint(md){
						
					}
					@include breakpoint(lg){
						background-color: #e80b42;
						position: absolute;
						border-radius: 26px;
						padding: 4px;
						color: #fff;
						width: 19px;
						top: -7px;
						right: 12px;
						line-height: 10px;
						font-size: 10px;
					}
				}
		}
		
	}
	.dropdown{
		position: relative;
		top: 1px;
		img{
			border-radius: 30px;
			width:90%;
			position: relative;
			// top: -6px;
			// right: -152px;
			@include breakpoint(sm){
				
			}
			@include breakpoint(md){
				
			}
			@include breakpoint(lg){
				border-radius: 30px;
				width: 75%;
				position: relative;
				top: -6px;
			}
		}
		.dropdown-toggle::after {
			display: block;
			position: absolute;
			top: 58%;
			right: -6px;
			transform: translateY(-50%);
			@include breakpoint(sm){
				
			}
			@include breakpoint(md){
				
			}
			@include breakpoint(lg){
				display: block;
				position: absolute;
				top: 43%;
				right: -1px;
				transform: translateY(-50%);
			}
		}
	}
		
}

// dashboard

.wrapper{
	background:#fff;
	padding-left: 0;
	display: flex;
	// flex-direction: row;
	align-items: stretch;
	#sidebar{
		.profile{
			text-align: center;
			padding-top: 25px;
			position: relative;
			display: flex;
			flex-direction: row;
	
			img{
			    width: 85%;
				border-radius: 184px;
				margin-bottom: 6px;
				margin-left: 33px;
				margin-top: 10px;
			}
			h4{
				// margin-left: 48px;
				font-size: 16px;
				text-transform: uppercase;
				margin-bottom: 20px;
				// @include breakpoint(sm){
				// 	font-size: 14px;
				// 	text-transform: uppercase;
				// 	margin-bottom: 20px;
				// 	margin-left: 33px;
				// }
				// @include breakpoint(md){
					
				// }
				// @include breakpoint(lg){
				// 	font-size: 16px;
				// 	text-transform: uppercase;
				// 	margin-bottom: 20px;
				// }
			}
			ul{
				display: flex;
				li{
					display: inline;
					text-align: justify;
					color: #3e3838;
					font-size: 16px;
					list-style: none;
					padding-bottom: 6px;
					@include breakpoint(sm){
						font-size: 12px;
				
					}
					@include breakpoint(md){
						
					}
					@include breakpoint(lg){
						display: inline;
						text-align: justify;
						color: #3e3838;
						font-size: 16px;
						list-style: none;
						padding-bottom: 6px;
					}
					.profile-detail{
						color: #000;
						font-weight: 600;
						font-size: 14px;
						text-transform: uppercase;
						padding-right: 10px;
					}
					a{
						background-color: #bcbcca38;
						padding: 8px;
						margin-right: 10px;
						border-radius: 30px;
						&:hover{
							background-color: #6969a2;
							transition: all 0.5s;
							color: #fff;
						}
						@include breakpoint(sm){
							padding: 6px;
							margin-right: 3px;
					
						}
						@include breakpoint(md){
							padding: 8px;
						margin-right: 10px;
						}
						@include breakpoint(lg){
							background-color: #bcbcca38;
							padding: 9px;
							margin-right: 10px;
							border-radius: 30px;
							width: 38px;
							height: 38px;
							line-height: 23px;
						}
					}
				}
			}
		}
	}


// sidebar style

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background:#fff ;
    color:  #7386D5;
    transition: all 0.3s;
}

#sidebar.active {
	min-width: 126px;
    max-width: 126px;
    text-align: center;
}
#sidebar.active .profile-info{
	display: none;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

// #sidebar.active .sidebar-header strong {
//     display: block;
// }

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header img{
    padding: 10px;
	background: #fff ;
	width: 78%;
}

#sidebar .sidebar-header img {
    // display: none;
	// font-size: 1.8em;
width: 64%;
}

#sidebar.active .sidebar-header img{
	width: 121px;
    height: 80px;
}
#sidebar ul.components {
    padding: 5px 0;
}

#sidebar ul li a {
    padding: 24px;
    font-size: 1.1em;
	display: block;
	// margin-top: 12px;
}

#sidebar ul li a:hover {
    color: #fff ;
    background:  #7386D5;
}

#sidebar ul li a i {
    margin-right: 10px;
}

// #sidebar ul li.active>a,
// a[aria-expanded="true"] {
//     color: #fff;
//     background: #6d7fcc;
// }

#sidebar ul li.active{

	background: #6d7fcc;
	a{
		color: #fff;
	}
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


.bg-light{
	background-color: transparent !important;
    padding: 18px;

	.list-group-item.active {
		border-color: #ddd;
		background:#6969a2 !important;
		color: #fff;
		width: 105%;
		position: relative;
		
		
	}
	.list-group{
		margin-top: 22px;
		a{
			color: #484242;
			padding: 14px;
			text-transform: uppercase;
			font-weight: 600;
			position: relative;
			&:hover{
				background-color: #6969a2 !important;
				transition: all 0.5s ease-in;
				color: #fff;
				width: 105%;
				position: relative;
			
			}
			.ti{
				font-size: 18px;
				padding-right: 20px;
			}
		}
	
	}
}

.bg-color{
	background-color: #ebecf3;
	margin-top: 20px;
		}
		.nav-tabs {
		border-bottom: 0;
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-right: 20px;
		margin-top: 20px;
		.nav-item{
			background: #fff;
			&:hover{
				background-color: #6969a2 ;
				transition: all .5s ease-in;
				border:none;
				border-radius: 0;
				a{
					color: #fff;
				}
			}
			.nav-link.active{
				background-color: #6969a2;
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				color: #fff;
			}
			.nav-link{
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				
			}
		}
		}
		.tab-content{
		margin-top: 20px;
		.tab-content-bg{
			
			.report{
				// padding: 10px;
				background: white;
				border-radius: 3px;
				padding: 14px;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 17px 0 rgba(0, 0, 0, 0.06);
				h3{
					color:#8e9694;
					font-size: 16px;
					margin-bottom: 22px;
					@include breakpoint(sm){
						color:#8e9694;
						font-size: 15px;
						margin-bottom: 22px;	
					}
					@include breakpoint(md){
						
					}
					@include breakpoint(lg){
						color:#8e9694;
						font-size: 16px;
						margin-bottom: 22px;
					}
				}
				.report-detail{
					display: flex;
						justify-content: space-between;
						.ti-files{
						color:#7681a7;
						font-size: 28px;
						}
						.ti-package{
						color: #bd91e6;
						font-size: 28px;
						}
						.ti-user{
						font-size: 28px;
						color: #82bdbf;
						}
						.ti-book{
						font-size: 28px;
						color: #5e90ea;
						}
						.number{
						font-size: 22px;
						color: #3e3e3e
						}
				}
			}
			.report-margin-bottom{
				margin-bottom: 18px;
				@include breakpoint(sm){
					margin-bottom: 0px;
				}
				@include breakpoint(md){
					
				}
				@include breakpoint(lg){
			
				}
			}
		}
		}

	.credit-limit{
		background:#6969a2;
		padding: 20px 40px;
		text-align: center;
		border-radius: 3px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 17px 0 rgba(0, 0, 0, 0.06);
		@include breakpoint(sm){
			padding: 20px 12px;
		}
		@include breakpoint(md){
			
		}
		@include breakpoint(lg){
			background:#6969a2;
			padding: 20px 40px;
			text-align: center;
			border-radius: 3px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 17px 0 rgba(0, 0, 0, 0.06);
		}
		.credit-limit-header{
			position: relative;
			display: flex;
			justify-content: space-between;
			&:after{
				content: '';
				width: 100%;
				height: 1px;
				position: absolute;
				top:29px;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 0;
				background-color:#fff;
			}
			h3{
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 400;
				color: #fff;
				position: relative;
			}
			.ti{
				color: #fff;
				font-size: 21px;
			}
		}
		.bold{
			display: block;
			font-size: 20px;
			font-weight: 600;
			color: #fff;
			margin-bottom: 20px;
			margin-top: 40px;
		}
		.btn-primary {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #333;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 8px 30px;
			margin-bottom:22px;
			// &:hover{

			// }
		}
	}
}

.bg-faq{
	background-color: #fff;
	padding: 18px;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 17px 0 rgba(0, 0, 0, 0.06);
	margin-bottom: 18px;
	margin-left: 18px;
	margin-top: 20px;
	@include breakpoint(sm){
		border-radius: 3px;		
	}
	@include breakpoint(md){
		margin-right: 10px;	
		border-radius: 3px;
	}
	@include breakpoint(lg){
		background-color: #fff;
		padding: 18px;
		border-radius: 3px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 17px 0 rgba(0, 0, 0, 0.06);
		margin-right: 10px;
	}
	h3{
		position: relative;
		margin-bottom: 40px;
		&:after{
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			top:35px;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0;
			background-color:#c3c3c3;
		}
	}

	
	.card{
		border: 0;
		.card-header{
			padding: 0.75rem 1.25rem;
			margin-bottom: 0;
			background-color:#fff;
			// .collapse{
			// 	.card-body{
				
					
				
			// 	}
			// }
			a{
				font-size: 18px;
				color:#2d2d31;
			}
			
		}
		p{
			font-size: 15px;
			color: #636363;
		}
	}


	ul{
		padding-left: 0;
		li{
			list-style: none;
			font-size: 14px;
			color: #182330;
			padding-bottom: 10px;
			a{
				color: #2d2e2f;
				text-decoration: none;
				font-size: 16px;
				&:before{
					display: inline-block;
					font: normal normal normal 24px/1 "Material Design Icons";
					font-size: inherit;
					text-rendering: auto;
					line-height: inherit;
					-webkit-font-smoothing: antialiased;
					content: "\f13e";
					color:#2d2e2f;
					padding-right: 20px;
				}
			}
		}
	}
}


	




